@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0C0C0C;
    font-family: 'Figtree', serif;
    color: #FFF;
}

.desktop-template {
    display: none;
}

.mobile-template {
    display: block;
}

@media (min-width: 768px) {
    .desktop-template {
        display: block;
    }

    .mobile-template {
        display: none;
    }
}

/* mobile styles */

.mobile-template .banner {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-image: url(images/wallpaper-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
    justify-content: space-between;
}

.mobile-template .banner .banner-texts {
    margin-bottom: 18px;
}

.mobile-template .banner-texts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}

.mobile-template .banner-texts h1 {
    max-width: 348px;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    margin-bottom: 40px;
}

.mobile-template .banner-texts a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 28px;
    border-radius: 30px;
    border: 2px solid #FFF;
    text-decoration: none;
}

.mobile-template .texts-content {
    padding: 60px 30px;
}

.texts-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #C4C4C4;
}

.texts-content h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.mobile-template .docs {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

.mobile-template .docs .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #191919;
    border-radius: 17px;
    gap: 20px;
}

.mobile-template .docs .item img {
    width: 120px;
    height: 82px;
    object-fit: cover;
    border-radius: 7px;
}

.mobile-template .docs .item div h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.mobile-template .docs .item div p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.52);
    margin-top: 6px;
}

.mobile-template .contact-container {
    padding: 0px 30px;
}

.mobile-template p.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #C4C4C4;
}

.mobile-template div.contact-email {
    background-image: url(images/button-background.png);
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    border-radius: 30px;
}

.mobile-template a.contact {
    color: #FFF;
    text-decoration: none;
}

.mobile-template img.logo-ifsp {
    margin-top: 70px;
    padding: 40px;
}

/* desktop styles */

.desktop-template .banner {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-image: url(images/wallpaper-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    justify-content: space-between;
}

.desktop-template .banner .banner-texts {
    margin-bottom: 18px;
}

.desktop-template .banner-texts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}

.desktop-template .banner-texts h1 {
    max-width: 507px;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    margin-bottom: 40px;
}

.desktop-template .banner-texts a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 28px;
    border-radius: 30px;
    border: 2px solid #FFF;
    text-decoration: none;
}

.desktop-template .main-container {
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 50px;
    align-items: center;
}

.desktop-template .docs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.desktop-template .docs .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #191919;
    border-radius: 17px;
    gap: 20px;
    width: 380px;
}

.desktop-template .docs .item img {
    width: 120px;
    height: 82px;
    object-fit: cover;
    border-radius: 7px;
}

.desktop-template .docs .item div h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.desktop-template .docs .item div p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.52);
    margin-top: 6px;
}

.info-container {
    display: flex;
    align-items: center;
}

.blue {
    text-decoration: none;
    color: #18a6d1;
    transition: .3s;
}

.blue:hover {
    text-decoration: none;
    color: #A782CB;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(52, 52, 52);
    border-radius: 0px;
    border: 1px solid rgb(107, 107, 107);
}